<body class="flex bg-gray-700 w-full text-red-200 space-x-32 pl-32 pr-32">
  <div>
    <img [src]="response.images[0].url" alt="Imagen" width="200" class="h-full w-full border rounded-lg">
  </div>
 

  <div class="justify-center pt-24">
  
      <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar"
        class="flex text-xl items-center justify-between w-full py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-red-200 md:p-0 md:w-auto dark:text-white md:dark:hover:text-red-200 dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">
        Select
        <svg class="w-5 h-5 ml-1" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
            clip-rule="evenodd"></path>
        </svg>
      </button>
      <!-- Dropdown menu -->
      <div id="dropdownNavbar"
      class="hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
      <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
        <li>
          <a (click)="getData('?included_tags=hentai'); selectedTag = '?included_tags=hentai'" class="block px-4 py-2 hover:bg-gray-700 dark:hover:bg-gray-700 dark:hover:text-white">Hentai</a>
        </li>
        <li>
          <a (click)="getData('?included_tags=ass'); selectedTag = '?included_tags=ass'" class="block px-4 py-2 hover:bg-gray-700 dark:hover:bg-gray-700 dark:hover:text-white">Ass</a>
        </li>
        <li>
          <a (click)="getData('?included_tags=ero'); selectedTag = '?included_tags=ero'" class="block px-4 py-2 hover:bg-gray-700 dark:hover:bg-gray-700 dark:hover:text-white">Ero</a>
        </li>
        <li>
          <a (click)="getData('?included_tags=milf'); selectedTag = '?included_tags=milf'" class="block px-4 py-2 hover:bg-gray-700 dark:hover:bg-gray-700 dark:hover:text-white">milf</a>
        </li>
        <li><a (click)="getData('?included_tags=oral'); selectedTag = '?included_tags=oral'" class="block px-4 py-2 hover:bg-gray-700 dark:hover:bg-gray-700 dark:hover:text-white">oral</a>
        </li>
        <li>
          <a (click)="getData('?included_tags=ecchi'); selectedTag ='?included_tags=ecchi'" class="block px-4 py-2 hover:bg-gray-700 dark:hover:bg-gray-700 dark:hover:text-white">ecchi</a>
        </li>
        <li>
          <a (click)="getData('?included_tags=paizuri'); selectedTag = ('?included_tags=paizuri')" class="block px-4 py-2 hover:bg-gray-700 dark:hover:bg-gray-700 dark:hover:text-white"> piazuri</a>
        </li>
      </ul>
    </div>
    
    <p class="text-4xl pb-4">ID de imagen: {{ response.images[0].image_id }}</p>
    <div>
    <div class="pb-4">
      <p *ngIf="selectedTag" class="rounded-lg text-gray-700 bg-red-200 py-2 px-4 "  >{{ getTagName(selectedTag) }}</p>
    </div>
    <button class="bg-red-200 rounded-lg px-4 py-2 text-gray-800">
      <a [href]="response.images[0].preview_url">Ver obra original</a>
    </button>
  </div>
     <ul class="flex flex space-x-2 pt-8">
          
   
      <li *ngFor="let tag of response.images[0].tags" class=" text-gray-800 rounded-lg bg-red-200 py-2 px-4">{{ tag.name }}</li>
      </ul>
  
    <div class="space-y-4">
      <p class="pt-8">Fecha de carga: {{ response.images[0].uploaded_at }}</p>
      <button (click)="refreshImage()" class="py-2 px-48 border rounded-lg bg-red-200 text-gray-600 hover:bg-red-100">Refresh</button>
    </div>
  </div>
</body>
