<body class="flex   w-full bg-red-200 space-x-32">
  <div >
    <img [src]="data?.images[0].url" alt="Imagen" class="h-256 w-full border rounded-lg ">
    </div>

    <div class="justify-center ">
    <div class="bg-red-200  flex-col justify-center text-white text-5xl font-semibold pt-32 px-64 space-y-4" >
      <h1>Welcome to waifular</h1>
  <p  class="text-semibold text-lg  font-semibold text-white">discover some waifus</p>
  <button class="border rounded-lg border-white text-wh font-semibold text-sm py-2 px-48"><a routerLink="/waifu">Explore</a></button>

   </div>
  </div>
  
</body>
